In [6]:
import pandas as pd

In [7]:
master = pd.read_csv('medical_imaging_modalities_by_country.csv', index_col='country')
master.head()

,Computed tomography,Magnetic resonance imaging,Positron emission tomography,Gamma camera or nuclear medicine,Linear accelerator,Telecobalt unit,Radiotherapy
country,,,,,,,
Afghanistan,0.20,0.10,0.0,0.0,0.00,0.00,0.00
Albania,5.36,1.58,0.0,0.0,0.00,0.32,0.32
Algeria,NaN,NaN,NaN,NaN,0.18,0.26,0.43
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Angola,0.42,0.05,0.0,0.0,0.00,0.05,0.05

In [8]:
df = pd.read_csv('lab.csv', index_col='country')
master =  master.join(df)
master.head()

,Computed tomography,Magnetic resonance imaging,Positron emission tomography,Gamma camera or nuclear medicine,Linear accelerator,Telecobalt unit,Radiotherapy,Registered Labs,Labs with clinical tests,Labs with research tests
country,,,,,,,,,,
Afghanistan,0.20,0.10,0.0,0.0,0.00,0.00,0.00,NaN,NaN,NaN
Albania,5.36,1.58,0.0,0.0,0.00,0.32,0.32,NaN,NaN,NaN
Algeria,NaN,NaN,NaN,NaN,0.18,0.26,0.43,NaN,NaN,NaN
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Angola,0.42,0.05,0.0,0.0,0.00,0.05,0.05,NaN,NaN,NaN

In [9]:
df = pd.read_csv('general_cancer_mortality.csv', index_col='country')
master =  master.join(df)
master.head()

,Computed tomography,Magnetic resonance imaging,Positron emission tomography,Gamma camera or nuclear medicine,Linear accelerator,Telecobalt unit,Radiotherapy,Registered Labs,Labs with clinical tests,Labs with research tests,General Male Cancer Mortality (15+) per 100k,General Female Cancer Mortality (15+) per 100k
country,,,,,,,,,,,,
Afghanistan,0.20,0.10,0.0,0.0,0.00,0.00,0.00,NaN,NaN,NaN,170.6,142
Albania,5.36,1.58,0.0,0.0,0.00,0.32,0.32,NaN,NaN,NaN,186.4,138.2
Algeria,NaN,NaN,NaN,NaN,0.18,0.26,0.43,NaN,NaN,NaN,100.7,97.3
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No data,No data
Angola,0.42,0.05,0.0,0.0,0.00,0.05,0.05,NaN,NaN,NaN,112.5,90.9

In [11]:
master.to_csv('not_by_year.csv')